<div class="container">
  <h1>Javascript Racer</h1>

  <h2>Hello, <%= @player1.name%> and <%= @player2.name%></h2>
  <p>Take a break, play a game!</p>

    <button id='home'><a href="/">Home</a></button>
    <button id='start'>Start Game</button>
    <button id='new'><a href="/new">New Game</a></button>
    <button id='results'><a href="/games/<%= @games_id %>/results">View Results</a></button>

    <h3 data-game-id="<%= @games_id %>">GAME</h3>
    <h3 id="timer"></h3>

    <table class="racer_table">
<<<<<<< HEAD
      <!-- <tr id="player1">  for application.js-->
      <tr class="player1" id="<%= session[:p1_id]%>" data-player-id="<%= session[:p1_id]%>">
=======
      <tr id="player1">
>>>>>>> c4e03bb5886d103b75d6660665b9fd0a9dca6efb
        <th data-player-id="<%= session[:p1_id]%>"><%= @player1.name %></th>
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
<<<<<<< HEAD
      <!-- <tr id="player2"> for application.js-->
      <tr class="player2" id="<%= session[:p2_id]%>" data-player-id="<%= session[:p2_id]%>">
=======
      <tr id="player2">
>>>>>>> c4e03bb5886d103b75d6660665b9fd0a9dca6efb
        <th data-player-id="<%= session[:p2_id] %>"><%= @player2.name %></th>
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <p id='winner'></p>

<<<<<<< HEAD
=======

>>>>>>> c4e03bb5886d103b75d6660665b9fd0a9dca6efb
</div>


